* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  display: block;
  text-decoration: none;
  color: #222;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}
/*_______________ GRID GERAL _______________*/

body {
  background-color: #faf6ed;
  color: #222;
  -webkit-font-smoothing: antialiased;
  display: grid;
  grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
}
.menu {
  grid-column: 3/5;
  margin: 2rem 0;
  background-color: #fb5;
  border-radius: 10px 0 0 10px;
}
.menu ul {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}
.menu li a {
  padding: 15px 10px;
  margin-right: 10px;
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0.1em;
}
.grid-section {
  grid-column: 2/4;
  width: 100%;
  padding: 10px;
  display: grid;
  grid-template-columns: 90px 300px 1fr;
  grid-gap: 20px;
  margin-bottom: 4rem;
}
.titulo {
  font-family: "Playfair Display SC", gergia;
  font-size: 6rem;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 1rem;
  grid-column: 1/4;
}
.animais h2 {
  font-family: "IBM Plex Mono", monospace;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 1rem;
  color: #e54;
}
.animais h2::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 10px;
  margin-right: 10px;
  background-color: #fb5;
}
.animais p {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.2;
  margin-bottom: 1rem;
}
.animais-lista {
  height: 370px;
  overflow-y: scroll;
  grid-column: 2;
}
.animais-lista li {
  cursor: pointer;
}
.animais-lista::-webkit-scrollbar {
  width: 18px;
}
.animais-lista::-webkit-scrollbar-thumb {
  background-color: #fb5;
  border-left: 4px solid #faf6ed;
  border-right: 4px solid #faf6ed;
}
.animais-lista::-webkit-scrollbar-track {
  background-color: #faf6ed;
}
.animias-descricao {
  grid-column: 3;
}
.animias-descricao section {
  margin-bottom: 3rem;
}
.faq-lista {
  grid-column: 2/4;
}
.faq-lista dt {
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  color: #e54;
}
.faq-lista dt::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 10px;
  background-color: #fb5;
}
.faq-lista dd {
  font-family: Helvetica, Arial, sans-serif;
  margin-bottom: 0.5rem;
  margin-left: 30px;
}
.iframe-googleMaps {
  grid-column: 2;
}
.dados {
  grid-column: 3;
}
.dados a {
  display: inline-block;
}
.dados li {
  margin-bottom: 1rem;
  font-family: Helvetica, Arial, sans-serif;
}
.dados li::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 10px;
  background-color: #fb5;
}
.copy {
  grid-column: 3/5;
  margin-bottom: 2rem;
  background-color: #fb5;
  border-radius: 10px 0 0 10px;
}
.copy p {
  padding: 23px;
  font-family: "IBM Plex Mono", monospace;
}
@media (max-width: 700px) {
  body {
    grid-template-columns: 1fr;
  }
  .menu,
  .grid-section,
  .copy {
    grid-column: 1;
  }
  .grid-section {
    grid-template-columns: 100px 1fr;
    gap: 10px;
  }
  .animais-lista {
    grid-column: 1;
  }
  .faq-lista,
  .dados,
  .iframe-googleMaps {
    grid-column: 1/3;
  }
  .iframe-googleMaps,
  iframe {
    width: 100%;
  }
  .titulo {
    font-size: 3rem;
  }
  .menu {
    margin-top: 0;
    border-radius: 0;
  }
  .copy {
    margin-bottom: 0;
    border-radius: 0;
  }
}

.js .js-tabcontent section {
  display: none; /* visibility: hidden; VS display: none; */
}

.js-tabcontent section.ativo {
  display: block !important;
  animation: show 0.5s forwards;
}

@keyframes show {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.js-accordion dt {
  cursor: pointer;
}
.js .js-accordion dd {
  display: none;
}
.js-accordion dt::after {
  content: "⮟";
  margin-left: 10px;
}
.js-accordion dt.ativo::after {
  content: "⮝";
}
.js-accordion dd.ativo {
  display: block;
  animation: slideDown 0.5s forwards;
}
@keyframes slideDown {
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    opacity: 1;
    max-height: 300px;
  }
}

.js .js-scroll {
  opacity: 0;
  transform: translate3d(-30px, 0, 0);
  transition: 0.3s;
}
.js .js-scroll.ativo {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
